button {
    align-items: center;
    background: #00345B;
    border: none;
    border-radius: 0.5rem;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 500;
    justify-content: center;
    min-height: 3rem;
    width: 18rem;
}

button.red-button {
    background: #D20D0D;
}

button.green-button {
    background: #27AE60;
}

button.yellow-button {
    background: #F2C94C;
}

button:focus,
button:active,
button:hover,
button:focus:active {
    border: none;
    box-shadow: none;
}

button.small {
    min-height: unset;
    width: unset;
    padding: 0.5rem 1rem;
}

.left-align button {
    margin-right: 0.5rem;
}

.right-align button {
    margin-left: 0.5rem;
}