@import url("checkbox.css");
@import url("radio.css");

div.form-check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-left: 1rem;
    font-size: 18px;
}

div.form-check > label {
    color: #849ec8;
    margin-left: 0.5rem;
    margin-right: 1rem;
    padding-top: 0.25rem;
}

textarea.bpd-text-area {
    height: 120px !important;
}

textarea.bpd-log-text-area {
    height: 250px !important;
    width: 100%;
}