@import url("main.css");

.bpd-modal-title {
    color: black !important;
    font-size: 22px;
    font-weight: bold;
}

.bpd-modal-content {
    padding: 1rem;
}

.bpd-modal-content .code_canvas {
    height: 200px;
    margin: 1rem 0;
}

.bpd-grid-two-columns {
    display: flex;
    justify-content: space-around;
    column-gap: 0.5rem;
    row-gap: 0.5rem
}

.bpd-translucent-buttons {
    display: block;
    padding: 0;
    margin-top: 50px;
}

.bpd-translucent-buttons button,
.bpd-translucent-buttons button:disabled {
    color: #007bff;
    background-color: white;
    border-color: white;
    width: 225px;
    margin-bottom: 20px;
}

.btn-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.25rem;
}