.container.main-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
}

.container.main-container footer {
    display: flex;
    column-gap: 1rem;
    padding: 1rem 0;
}

webc-app-container {
    --background: #FFFFFF;
}

webc-app-container .container {
    width: 100%;
}

@media (min-width: 576px) {
    webc-app-container .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    webc-app-container .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    webc-app-container .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    webc-app-container .container {
        max-width: 1300px;
    }
}