label, span {
    font-size: 0.75rem;
    font-weight: 500;
    margin: 0;
    padding: 0.25rem 0;
}

.row-wrapper label {
    padding: 0.5rem 0;
}

header label,
header span,
header button {
    font-size: 0.875rem;
}

.link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgba(47, 128, 237, 1);
}

.link:focus,
.link:hover,
.link:active {
    cursor: pointer;
    text-decoration: underline;
}

label[data-status] {
    font-weight: bold;
}

label[data-status="true"] {
    color: rgba(57, 203, 71, 1);
}

label[data-status="false"],
label[data-status="failed"],
label[data-status="pending-uninstall"] {
    color: rgba(210, 13, 13, 1);
}

label[data-status="false"] {
    cursor: pointer;
    text-decoration: underline;
}

label[data-status="installed"] {
    color: rgba(47, 128, 237, 1);
}

label[data-status="ready"] {
    color: rgba(39, 174, 96, 1);
}

label[data-status="pending"] {
    color: rgba(198, 155, 24, 1);
}

.left-align,
.right-align,
.center-align {
    align-items: center;
    display: flex;
    width: 100%;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
}

.left-align {
    justify-content: flex-start !important;
}

.right-align {
    justify-content: flex-end !important;
}

.center-align {
    justify-content: center !important;
}

.bold {
    font-weight: bold !important;
}

label.option {
    padding: 0 0.5rem 0 0;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-right: 1px solid;
}

label.option:last-child {
    border: none;
}

.error {
    color: darkred;
}
