button, label, span {
    font-size: 18px;
    font-weight: 500;
}

label, span {
    margin: 0;
    padding: 0.5rem 0;
}

.link {
    background-color: transparent;
    border: none;
    box-shadow: none;
    color: rgba(47, 128, 237, 1);
}

.link:focus,
.link:hover,
.link:active {
    cursor: pointer;
    text-decoration: underline;
}

.row-wrapper label {
    padding: 0.5rem 0;
}

label[data-status="true"] {
    color: rgba(57, 203, 71, 1);
}

label[data-status="false"] {
    color: rgba(210, 13, 13, 1);
    cursor: pointer;
    text-decoration: underline;
}

.left-align,
.right-align,
.center-align {
    align-items: center;
    display: flex;
    width: 100%;
}

.left-align {
    justify-content: flex-start !important;
}

.right-align {
    justify-content: flex-end !important;
}

.center-align {
    justify-content: center !important;
}

.bold {
    font-weight: bold !important;
}

label.option {
    padding: 0 0.5rem 0 0;
    margin: 0.5rem 0 0.5rem 0.5rem;
    border-right: 1px solid;
}

label.option:last-child {
    border: none;
}