@import url("button.css");
@import url("container.css");
@import url("form.css");
@import url("label.css");

h1 {
    color: rgba(0, 52, 91, 1);
    font-size: 64px;
    margin-bottom: 2rem;
    padding: 2rem 0;
    text-align: center;
}

.row-wrapper {
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: minmax(40%, auto) repeat(auto-fill, [col-start] minmax(120px, 2fr) [col-end]);
    text-align: center;
    margin: 0.5rem 0;
    padding: 0 0.75rem;
}

.inner-wrapper {
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

header .row-wrapper {
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

main .row-wrapper label:first-child {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

main .row-wrapper:nth-child(odd) {
    background-color: rgba(0, 135, 152, 0.19);
}

main .row-wrapper:nth-child(even) {
    background-color: rgba(0, 52, 91, 0.3);
}

.left-align,
.right-align,
.center-align {
    align-items: center;
    display: flex;
    width: 100%;
}

.left-align {
    justify-content: flex-start;
}

.right-align {
    justify-content: flex-end;
}

.center-align {
    justify-content: center;
}