@import url("button.css");
@import url("checkbox.css");
@import url("container.css");
@import url("form.css");
@import url("label.css");
@import url("radio.css");
@import url("voting.css");

h1 {
    color: rgba(0, 52, 91, 1);
    font-size: 56px;
    margin-bottom: 1rem;
    padding: 1.5rem 0;
}

.row-wrapper {
    column-gap: 0.5rem;
    display: grid;
    grid-template-columns: minmax(40%, auto) repeat(auto-fit, minmax(120px, 1fr));
    text-align: center;
    margin: 0.5rem 0;
    padding: 0 0.75rem;
}

.grid-equal {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.inner-wrapper {
    display: flex;
    row-gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}

header .row-wrapper {
    border-top: 1px solid #00345B;
    border-bottom: 1px solid #00345B;
    transform: rotate(-0.06deg);
}

main .row-wrapper label:first-child {
    display: inline-block;
    max-width: 90%;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
}

main .row-wrapper.grid-equal label:first-child {
    text-align: center;
}

main .row-wrapper:nth-child(odd) {
    background-color: rgba(0, 135, 152, 0.19);
}

main .row-wrapper:nth-child(even) {
    background-color: rgba(0, 52, 91, 0.3);
}
