.bpd-progress {
    padding: 0 1rem;
}

.bpd-progress label {
    margin-bottom: 0;
}

.over-the-progress {
    position: absolute;
    color: white;
    padding-left: 5px;
    font-size: 18px;
}

.bpd-progress progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    background-size: auto;
    height: 30px;
}

progress[data-color="aliceblue"]::-webkit-progress-value {
    background-color: aliceblue;
}

progress[data-color="antiquewhite"]::-webkit-progress-value {
    background-color: antiquewhite;
}

progress[data-color="aqua"]::-webkit-progress-value {
    background-color: aqua;
}

progress[data-color="aquamarine"]::-webkit-progress-value {
    background-color: aquamarine;
}

progress[data-color="azure"]::-webkit-progress-value {
    background-color: azure;
}

progress[data-color="beige"]::-webkit-progress-value {
    background-color: beige;
}

progress[data-color="bisque"]::-webkit-progress-value {
    background-color: bisque;
}

progress[data-color="black"]::-webkit-progress-value {
    background-color: black;
}

progress[data-color="blanchedalmond"]::-webkit-progress-value {
    background-color: blanchedalmond;
}

progress[data-color="blue"]::-webkit-progress-value {
    background-color: blue;
}

progress[data-color="blueviolet"]::-webkit-progress-value {
    background-color: blueviolet;
}

progress[data-color="brown"]::-webkit-progress-value {
    background-color: brown;
}

progress[data-color="burlywood"]::-webkit-progress-value {
    background-color: burlywood;
}

progress[data-color="cadetblue"]::-webkit-progress-value {
    background-color: cadetblue;
}

progress[data-color="chartreuse"]::-webkit-progress-value {
    background-color: chartreuse;
}

progress[data-color="chocolate"]::-webkit-progress-value {
    background-color: chocolate;
}

progress[data-color="coral"]::-webkit-progress-value {
    background-color: coral;
}

progress[data-color="cornflowerblue"]::-webkit-progress-value {
    background-color: cornflowerblue;
}

progress[data-color="cornsilk"]::-webkit-progress-value {
    background-color: cornsilk;
}

progress[data-color="crimson"]::-webkit-progress-value {
    background-color: crimson;
}

progress[data-color="cyan"]::-webkit-progress-value {
    background-color: cyan;
}

progress[data-color="darkblue"]::-webkit-progress-value {
    background-color: darkblue;
}

progress[data-color="darkcyan"]::-webkit-progress-value {
    background-color: darkcyan;
}

progress[data-color="darkgoldenrod"]::-webkit-progress-value {
    background-color: darkgoldenrod;
}

progress[data-color="darkgray"]::-webkit-progress-value {
    background-color: darkgray;
}

progress[data-color="darkgrey"]::-webkit-progress-value {
    background-color: darkgrey;
}

progress[data-color="darkgreen"]::-webkit-progress-value {
    background-color: darkgreen;
}

progress[data-color="darkkhaki"]::-webkit-progress-value {
    background-color: darkkhaki;
}

progress[data-color="darkmagenta"]::-webkit-progress-value {
    background-color: darkmagenta;
}

progress[data-color="darkolivegreen"]::-webkit-progress-value {
    background-color: darkolivegreen;
}

progress[data-color="darkorange"]::-webkit-progress-value {
    background-color: darkorange;
}

progress[data-color="darkorchid"]::-webkit-progress-value {
    background-color: darkorchid;
}

progress[data-color="darkred"]::-webkit-progress-value {
    background-color: darkred;
}

progress[data-color="darksalmon"]::-webkit-progress-value {
    background-color: darksalmon;
}

progress[data-color="darkseagreen"]::-webkit-progress-value {
    background-color: darkseagreen;
}

progress[data-color="darkslateblue"]::-webkit-progress-value {
    background-color: darkslateblue;
}

progress[data-color="darkslategray"]::-webkit-progress-value {
    background-color: darkslategray;
}

progress[data-color="darkslategrey"]::-webkit-progress-value {
    background-color: darkslategrey;
}

progress[data-color="darkturquoise"]::-webkit-progress-value {
    background-color: darkturquoise;
}

progress[data-color="darkviolet"]::-webkit-progress-value {
    background-color: darkviolet;
}

progress[data-color="deeppink"]::-webkit-progress-value {
    background-color: deeppink;
}

progress[data-color="deepskyblue"]::-webkit-progress-value {
    background-color: deepskyblue;
}

progress[data-color="dimgray"]::-webkit-progress-value {
    background-color: dimgray;
}

progress[data-color="dimgrey"]::-webkit-progress-value {
    background-color: dimgrey;
}

progress[data-color="dodgerblue"]::-webkit-progress-value {
    background-color: dodgerblue;
}

progress[data-color="firebrick"]::-webkit-progress-value {
    background-color: firebrick;
}

progress[data-color="floralwhite"]::-webkit-progress-value {
    background-color: floralwhite;
}

progress[data-color="forestgreen"]::-webkit-progress-value {
    background-color: forestgreen;
}

progress[data-color="fuchsia"]::-webkit-progress-value {
    background-color: fuchsia;
}

progress[data-color="gainsboro"]::-webkit-progress-value {
    background-color: gainsboro;
}

progress[data-color="ghostwhite"]::-webkit-progress-value {
    background-color: ghostwhite;
}

progress[data-color="gold"]::-webkit-progress-value {
    background-color: gold;
}

progress[data-color="goldenrod"]::-webkit-progress-value {
    background-color: goldenrod;
}

progress[data-color="gray"]::-webkit-progress-value {
    background-color: gray;
}

progress[data-color="grey"]::-webkit-progress-value {
    background-color: grey;
}

progress[data-color="green"]::-webkit-progress-value {
    background-color: green;
}

progress[data-color="greenyellow"]::-webkit-progress-value {
    background-color: greenyellow;
}

progress[data-color="honeydew"]::-webkit-progress-value {
    background-color: honeydew;
}

progress[data-color="hotpink"]::-webkit-progress-value {
    background-color: hotpink;
}

progress[data-color="indianred"]::-webkit-progress-value {
    background-color: indianred;
}

progress[data-color="indigo"]::-webkit-progress-value {
    background-color: indigo;
}

progress[data-color="ivory"]::-webkit-progress-value {
    background-color: ivory;
}

progress[data-color="khaki"]::-webkit-progress-value {
    background-color: khaki;
}

progress[data-color="lavender"]::-webkit-progress-value {
    background-color: lavender;
}

progress[data-color="lavenderblush"]::-webkit-progress-value {
    background-color: lavenderblush;
}

progress[data-color="lawngreen"]::-webkit-progress-value {
    background-color: lawngreen;
}

progress[data-color="lemonchiffon"]::-webkit-progress-value {
    background-color: lemonchiffon;
}

progress[data-color="lightblue"]::-webkit-progress-value {
    background-color: lightblue;
}

progress[data-color="lightcoral"]::-webkit-progress-value {
    background-color: lightcoral;
}

progress[data-color="lightcyan"]::-webkit-progress-value {
    background-color: lightcyan;
}

progress[data-color="lightgoldenrodyellow"]::-webkit-progress-value {
    background-color: lightgoldenrodyellow;
}

progress[data-color="lightgray"]::-webkit-progress-value {
    background-color: lightgray;
}

progress[data-color="lightgrey"]::-webkit-progress-value {
    background-color: lightgrey;
}

progress[data-color="lightgreen"]::-webkit-progress-value {
    background-color: lightgreen;
}

progress[data-color="lightpink"]::-webkit-progress-value {
    background-color: lightpink;
}

progress[data-color="lightsalmon"]::-webkit-progress-value {
    background-color: lightsalmon;
}

progress[data-color="lightseagreen"]::-webkit-progress-value {
    background-color: lightseagreen;
}

progress[data-color="lightskyblue"]::-webkit-progress-value {
    background-color: lightskyblue;
}

progress[data-color="lightslategray"]::-webkit-progress-value {
    background-color: lightslategray;
}

progress[data-color="lightslategrey"]::-webkit-progress-value {
    background-color: lightslategrey;
}

progress[data-color="lightsteelblue"]::-webkit-progress-value {
    background-color: lightsteelblue;
}

progress[data-color="lightyellow"]::-webkit-progress-value {
    background-color: lightyellow;
}

progress[data-color="lime"]::-webkit-progress-value {
    background-color: lime;
}

progress[data-color="limegreen"]::-webkit-progress-value {
    background-color: limegreen;
}

progress[data-color="linen"]::-webkit-progress-value {
    background-color: linen;
}

progress[data-color="magenta"]::-webkit-progress-value {
    background-color: magenta;
}

progress[data-color="maroon"]::-webkit-progress-value {
    background-color: maroon;
}

progress[data-color="mediumaquamarine"]::-webkit-progress-value {
    background-color: mediumaquamarine;
}

progress[data-color="mediumblue"]::-webkit-progress-value {
    background-color: mediumblue;
}

progress[data-color="mediumorchid"]::-webkit-progress-value {
    background-color: mediumorchid;
}

progress[data-color="mediumpurple"]::-webkit-progress-value {
    background-color: mediumpurple;
}

progress[data-color="mediumseagreen"]::-webkit-progress-value {
    background-color: mediumseagreen;
}

progress[data-color="mediumslateblue"]::-webkit-progress-value {
    background-color: mediumslateblue;
}

progress[data-color="mediumspringgreen"]::-webkit-progress-value {
    background-color: mediumspringgreen;
}

progress[data-color="mediumturquoise"]::-webkit-progress-value {
    background-color: mediumturquoise;
}

progress[data-color="mediumvioletred"]::-webkit-progress-value {
    background-color: mediumvioletred;
}

progress[data-color="midnightblue"]::-webkit-progress-value {
    background-color: midnightblue;
}

progress[data-color="mintcream"]::-webkit-progress-value {
    background-color: mintcream;
}

progress[data-color="mistyrose"]::-webkit-progress-value {
    background-color: mistyrose;
}

progress[data-color="moccasin"]::-webkit-progress-value {
    background-color: moccasin;
}

progress[data-color="navajowhite"]::-webkit-progress-value {
    background-color: navajowhite;
}

progress[data-color="navy"]::-webkit-progress-value {
    background-color: navy;
}

progress[data-color="oldlace"]::-webkit-progress-value {
    background-color: oldlace;
}

progress[data-color="olive"]::-webkit-progress-value {
    background-color: olive;
}

progress[data-color="olivedrab"]::-webkit-progress-value {
    background-color: olivedrab;
}

progress[data-color="orange"]::-webkit-progress-value {
    background-color: orange;
}

progress[data-color="orangered"]::-webkit-progress-value {
    background-color: orangered;
}

progress[data-color="orchid"]::-webkit-progress-value {
    background-color: orchid;
}

progress[data-color="palegoldenrod"]::-webkit-progress-value {
    background-color: palegoldenrod;
}

progress[data-color="palegreen"]::-webkit-progress-value {
    background-color: palegreen;
}

progress[data-color="paleturquoise"]::-webkit-progress-value {
    background-color: paleturquoise;
}

progress[data-color="palevioletred"]::-webkit-progress-value {
    background-color: palevioletred;
}

progress[data-color="papayawhip"]::-webkit-progress-value {
    background-color: papayawhip;
}

progress[data-color="peachpuff"]::-webkit-progress-value {
    background-color: peachpuff;
}

progress[data-color="peru"]::-webkit-progress-value {
    background-color: peru;
}

progress[data-color="pink"]::-webkit-progress-value {
    background-color: pink;
}

progress[data-color="plum"]::-webkit-progress-value {
    background-color: plum;
}

progress[data-color="powderblue"]::-webkit-progress-value {
    background-color: powderblue;
}

progress[data-color="purple"]::-webkit-progress-value {
    background-color: purple;
}

progress[data-color="red"]::-webkit-progress-value {
    background-color: red;
}

progress[data-color="rosybrown"]::-webkit-progress-value {
    background-color: rosybrown;
}

progress[data-color="royalblue"]::-webkit-progress-value {
    background-color: royalblue;
}

progress[data-color="saddlebrown"]::-webkit-progress-value {
    background-color: saddlebrown;
}

progress[data-color="salmon"]::-webkit-progress-value {
    background-color: salmon;
}

progress[data-color="sandybrown"]::-webkit-progress-value {
    background-color: sandybrown;
}

progress[data-color="seagreen"]::-webkit-progress-value {
    background-color: seagreen;
}

progress[data-color="seashell"]::-webkit-progress-value {
    background-color: seashell;
}

progress[data-color="sienna"]::-webkit-progress-value {
    background-color: sienna;
}

progress[data-color="silver"]::-webkit-progress-value {
    background-color: silver;
}

progress[data-color="skyblue"]::-webkit-progress-value {
    background-color: skyblue;
}

progress[data-color="slateblue"]::-webkit-progress-value {
    background-color: slateblue;
}

progress[data-color="slategray"]::-webkit-progress-value {
    background-color: slategray;
}

progress[data-color="slategrey"]::-webkit-progress-value {
    background-color: slategrey;
}

progress[data-color="snow"]::-webkit-progress-value {
    background-color: snow;
}

progress[data-color="springgreen"]::-webkit-progress-value {
    background-color: springgreen;
}

progress[data-color="steelblue"]::-webkit-progress-value {
    background-color: steelblue;
}

progress[data-color="tan"]::-webkit-progress-value {
    background-color: tan;
}

progress[data-color="teal"]::-webkit-progress-value {
    background-color: teal;
}

progress[data-color="thistle"]::-webkit-progress-value {
    background-color: thistle;
}

progress[data-color="tomato"]::-webkit-progress-value {
    background-color: tomato;
}

progress[data-color="turquoise"]::-webkit-progress-value {
    background-color: turquoise;
}

progress[data-color="violet"]::-webkit-progress-value {
    background-color: violet;
}

progress[data-color="wheat"]::-webkit-progress-value {
    background-color: wheat;
}

progress[data-color="white"]::-webkit-progress-value {
    background-color: white;
}

progress[data-color="whitesmoke"]::-webkit-progress-value {
    background-color: whitesmoke;
}

progress[data-color="yellow"]::-webkit-progress-value {
    background-color: yellow;
}

progress[data-color="yellowgreen"]::-webkit-progress-value {
    background-color: yellowgreen;
}
